/* font-family: 'Kanit', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

body{

    font-family: 'Kanit', sans-serif;
    background-image: linear-gradient(-90deg, #5f72bd 0%, #9b23ea 100%);
}

.v-application--wrap{
        font-family: 'Kanit', sans-serif;
    }
